<!DOCTYPE html>
<html lang="en">

<head>
	</head>
<body>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-2">
				<img src="VIEW/profilesuperadmin.jpg" alt="..." class="img-rounded img-responsive" size="auto">
			</div>
			<div class="col-sm-10">
				<p><b>Nombre</b> @handle</p>
				<p>Parrafo de no mas de 140 caracteres </p>
				<p>
					<a href="#" class="btn btn" role="button">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> · #likes
					</a>
					<!--SI EL POST ES TUYO PONER UN BOTON PARA BORRAR<a href="#" class="btn btn-default" role="button">borrar</a>-->
				</p>
			</div>
		</div>
	</div>
	<a href="VIEW/tweet.html">next page</a>
</body>
</html>